<%- include("partials/header.ejs") %>
<style>
h1 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 400;
    line-height: 1.2;
}
</style>

<h1>What is Kdrama?</h1>
<h5>By: Laura Toyryla
<br>Last modified: Nov 23, 2023
<br><span class="source">Source taken directly from: <a href="https://www.90daykorean.com/kdrama/#what-is-kdrama" target="_blank">90daykorean.com - What Is Kdrama</a></span>

</h5>

<hr>

<h6>What is Kdrama?</h6>
<p>K-drama is short for “Korean drama” which pertains to television series created in South Korea. These series have become popular not only in Korea but globally, making them more accessible for K-drama fans through streaming websites like Netflix. 
    Along with other Korean entertainment, such as K-pop and Korean movies, Kdramas have fueled the Korean Wave, which has been constantly expanding worldwide.
</p>

<h6>The History of Korean drama</h6>
<p>The roots of television in South Korea go back to the mid-1950s, with the first Korean TV series broadcasting in 1962. It was broadcasted on KBS, Korean Broadcasting System, which has continued to exist as Korea’s big national channel. 
    However, it wasn’t until the 1970s that Korean households properly began buying television sets. Most South Korean television series depicted historical times and historical figures only reached a small audience. 
    After the surge of TVs in Korean homes, more diverse South Korean dramas began getting made, from national heroes such as King Sejong to tales of regular present-day people, especially their struggles and sufferings. 
    When color TVs became available in the 1980s, the landscape of  Korean television changed, with modern dramas becoming more prominent. And in the 1990s, it started getting more popular to format dramas into a single season of approximately 12 to 24 episodes. Today, it is also more widespread to produce web dramas.
</p>

<%- include("partials/footer.ejs") %>
