<%- include("partials/header.ejs") %>
<style>
body {
    margin: 0;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d1e7fc;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #45a049;
}
</style>

<div class="container">
    <h2 class="contactHeaderText">Contact Us</h2>
    <form action="/send" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Your email.." required>
      </div>
      <div class="form-group">
        <label for="reason">Reason:</label>
        <textarea id="reason" name="reason" placeholder="Write your reason here.." required></textarea>
      </div>
      <button type="submit" class="btn-submit">Send</button>
    </form>
  </div>
  
<%- include("partials/footer.ejs") %>
