<%- include("partials/header.ejs") %>
<!-- Content of your website goes here (in-between main/body) -->
<main>
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary newbg">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Kdrama - What Is It?</h1>
      <p class="lead my-3">Kdrama, which stands for Korean drama, is all about romance, comedy, action, thriller... well everything that's
        includied in a regular drama, except Korean! <br> Explore some Korean culture through Kdrama!
      </p>
      <p class="lead mb-0"><a href="/about" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="newFont">
    <h2 class="fst-italic">My Top 3 Kdramas</h2>
    <ul class="list-unstyled">
      <li>
        <a href="/drama1" class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top">
          <img src="/images/fatedtoloveyou.png" alt="Fated to Love You with male and female lead actors" width="100%" height="20%">
          <div class="col-lg-8">
            <h4 class="mb-1 mx-2">Fated To Love You</h4>
            <small class="text-body-secondary mx-2">Release Date: July 2, 2014</small>
            <br>
            <small class="text-body-secondary mx-2">Genres: Romance, Comedy</small>
          </div>
        </a>
      </li>
      <li>
        <a href="/drama2" class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top">
          <img src="/images/arthdal.png" alt="Arthdal Chronicles seasons 1 and 2" width="100%" height="20%">
          <div class="col-lg-8">
            <h4 class="mb-1 mx-2">Arthdal Chronicles: Seasons 1 & 2</h4>
            <small class="text-body-secondary mx-2">Release Dates: June 1, 2019 | September 9, 2023</small>
            <br>
            <small class="text-body-secondary mx-2">Genres: Ancient Fantasy, War</small>
          </div>
        </a>
      </li>
      <li>
        <a href="/drama3" class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top">
          <img src="/images/goblin.png" alt="Goblin kdrama" width="100%" height="20%">
          <div class="col-lg-8">
            <h4 class="mb-1 mx-2">Goblin</h4>
            <small class="text-body-secondary mx-2">Release Date: December 2, 2016</small>
            <br>
            <small class="text-body-secondary mx-2">Genres: Romance, Comedy, Supernatural</small>
          </div>
        </a>
      </li>
    </ul>
  </div>
</main>
<%- include("partials/footer.ejs") %>
